h2 {
    margin: 2rem 0 0 0;
}

.tarif {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.tarif-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem 1rem 1rem;
}

.tarif-item {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 1px solid var(--secondary-color);
    padding: 1rem;
}

.tarif-data::before {
    content: attr(data-label); /* injecte dynamiquement la valeur de data-label dans le ::before */
    font-weight: bold;
    display: block;
    margin-bottom: .25rem;
}

.tarif-label {
    display: none;
}

.tarif-data {
    padding: 0.5rem 0;
}

